<template>
  <div id="app">
  	<!--<keep-alive exclude="Detail,Banner,Classify,Collect,Author">
   		<router-view></router-view>
  	</keep-alive>-->
    <!---->

    <el-container style="height: 646px; border: 1px solid #eee">
      
      <!-- navigator -->
      <el-aside style="width: 210px;">
        <el-menu
          default-active="1"
          background-color="#545c64"
          style="width: 200px; height: 100%"
          text-color="#fff"
          active-text-color="#ffd04b">
          <el-menu-item index="1" @click="userInfo.status === 'admin'?logoutDialogVisible=true:loginDialogVisible=true">
            <i class="el-icon-setting"></i>
            <span slot="title">{{this.userInfo.status === 'admin'?'log out':'log in'}}</span>
          </el-menu-item>
          <el-menu-item index="2" @click="showing = 'inventory'">
            <i class="el-icon-location"></i>
            <span slot="title">inventory</span>
          </el-menu-item>
          <el-menu-item index="3" @click="showing = 'purchase'">
            <i class="el-icon-menu"></i>
            <span slot="title">purchase</span>
          </el-menu-item>
          <el-menu-item index="4" @click="showing = 'sales'">
            <i class="el-icon-menu"></i>
            <span slot="title">sales</span>
          </el-menu-item>
          <el-menu-item index="5" @click="showing = 'return'">
            <i class="el-icon-menu"></i>
            <span slot="title">return</span>
          </el-menu-item>
          <el-menu-item index="6" @click="getSuppliers">
            <i class="el-icon-menu"></i>
            <span slot="title">supplier</span>
          </el-menu-item>
          <el-menu-item index="7" @click="showing = 'supply'">
            <i class="el-icon-menu"></i>
            <span slot="title">supply</span>
          </el-menu-item>
        </el-menu>
      </el-aside>

      <!-- main page -->
      <el-main>

        <!-- Inventory Part -->
        <div v-if="showing==='inventory'">
          <div align='center' style="padding: 2px">
            <el-input v-model="inventorySearch" placeholder="Search" style="width:200px"></el-input>
            <el-button
              @click="checkInventoryBySearch"
              :disabled="inventorySearch===''">search</el-button>
            <el-button 
              type="primary"
              @click="checkAllInventory">check all</el-button>
          </div>
          <el-table
            :data="inventoryData"
            stripe
            style="width: 100%">
            <el-table-column type="expand">
              <template slot-scope="props">
                <el-form label-position="left" inline class="demo-table-expand">
                  <el-form-item label="Title">
                    <span>{{ props.row.title }}</span>
                  </el-form-item>
                  <el-form-item label="Author">
                    <span>{{ props.row.author }}</span>
                  </el-form-item>
                  <el-form-item label="Press">
                    <span>{{ props.row.press }}</span>
                  </el-form-item>
                  <el-form-item label="ISBN Code">
                    <span>{{ props.row.isbn }}</span>
                  </el-form-item>
                  <el-form-item label="Inventory">
                    <span>{{ props.row.onHandInventory }}</span>
                  </el-form-item>
                  <el-form-item label="Remark">
                    <span>{{ props.row.remarks }}</span>
                  </el-form-item>
                  <el-form-item label="Sales" v-if="userInfo.status === 'admin'">
                    <span>{{props.row.totalSales}}</span>
                  </el-form-item>
                  <el-form-item label="Purchase" v-if="userInfo.status === 'admin'">
                    <span>{{props.row.totalPurchase}}</span>
                  </el-form-item>
                </el-form>
              </template>
            </el-table-column>
            <el-table-column
              prop="id"
              label="Id"
              sortable>
            </el-table-column>
            <el-table-column
              prop="title"
              label="Title"
              sortable>
            </el-table-column>
            <el-table-column
              prop="author"
              label="Author"
              sortable>
            </el-table-column>
            <el-table-column
              prop="press"
              label="Press"
              sortable>
            </el-table-column>
          </el-table>
        </div>

        <!-- Purchase Part -->
        <div v-if="showing==='purchase'">
          <div align="center">
            <div style="padding: 2px">
              <el-input v-model="purchaseSearch" placeholder="Search" style="width:200px"></el-input>
              <el-button
                @click="checkPurchaseBySearch"
                :disabled="purchaseSearch === ''">search</el-button>
              <el-button 
                type="primary"
                @click="checkAllPurchase">check all</el-button>
            </div>
            <div class="block" align="center" style="padding: 2px">
              <el-date-picker
                v-model="DatePicker"
                type="daterange"
                align="right"
                range-separator="to"
                start-placeholder="Start"
                end-placeholder="End"
                unlink-panels
                :picker-options="date_picker_options">
              </el-date-picker>
              <el-button 
                type="primary"
                @click="checkPurchaseByDate"
                :disabled="DatePicker === ''">check</el-button>
            </div>
          </div>
          
          <el-table
            :data="purchaseData"
            stripe
            style="width: 100%">
            <el-table-column type="expand">
              <template slot-scope="props">
                <el-form label-position="left" inline class="demo-table-expand">
                  <el-form-item label="bookId">
                    <span>{{ props.row.bookId }}</span>
                  </el-form-item>
                  <el-form-item label="Title">
                    <span>{{ props.row.title }}</span>
                  </el-form-item>
                  <el-form-item label="supplierId">
                    <span>{{ props.row.supplierId }}</span>
                  </el-form-item>
                  <el-form-item label="Name">
                    <span>{{ props.row.name }}</span>
                  </el-form-item>
                  <el-form-item label="price">
                    <span>{{ props.row.price }}</span>
                  </el-form-item>
                  <el-form-item label="amount">
                    <span>{{ props.row.amount }}</span>
                  </el-form-item>
                  <el-form-item label="date">
                    <span>{{ props.row.date }}</span>
                  </el-form-item>
                </el-form>
              </template>
            </el-table-column>
            <el-table-column
              prop="id"
              label="Id">
            </el-table-column>
            <el-table-column
              prop="title"
              label="Title">
            </el-table-column>
            <el-table-column
              prop="name"
              label="Supplier Name">
            </el-table-column>
            <el-table-column
              prop="price"
              label="Price">
            </el-table-column>
            <el-table-column label="option">
              <template slot-scope="scope">
                <el-button
                  size="mini"
                  @click="clickEdit(scope.row)">Edit</el-button>
                <el-button
                  size="mini"
                  type="danger"
                  @click="clickDelete(scope.row)">Delete</el-button>
              </template>
            </el-table-column>
          </el-table>
        </div>

        <!-- Sales Part -->
        <div v-if="showing==='sales'">
          <div align="center">
            <div style="padding: 2px">
              <el-input v-model="salesSearch" placeholder="Search" style="width:200px"></el-input>
              <el-button
                @click="checkSalesBySearch"
                :disabled="salesSearch === ''">search</el-button>
              <el-button 
                type="primary"
                @click="checkAllSales">check all</el-button>
            </div>
            <div class="block" align="center" style="padding: 2px">
              <el-date-picker
                v-model="DatePicker"
                type="daterange"
                align="right"
                range-separator="to"
                start-placeholder="Start"
                end-placeholder="End"
                unlink-panels
                :picker-options="date_picker_options">
              </el-date-picker>
              <el-button 
                type="primary"
                @click="checkSalesByDate"
                :disabled="DatePicker === ''">check</el-button>
            </div>
          </div>
          <el-table
            :data="salesData"
            stripe
            style="width: 100%">
            <el-table-column type="expand">
              <template slot-scope="props">
                <el-form label-position="left" inline class="demo-table-expand">
                  <el-form-item label="bookId">
                    <span>{{ props.row.bookId }}</span>
                  </el-form-item>
                  <el-form-item label="price">
                    <span>{{ props.row.price }}</span>
                  </el-form-item>
                  <el-form-item label="amount">
                    <span>{{ props.row.amount }}</span>
                  </el-form-item>
                  <el-form-item label="date">
                    <span>{{ props.row.date }}</span>
                  </el-form-item>
                </el-form>
              </template>
            </el-table-column>
            <el-table-column
              prop="id"
              label="Id">
            </el-table-column>
            <el-table-column
              prop="bookId"
              label="BookId">
            </el-table-column>
            <el-table-column
              prop="amount"
              label="Amount">
            </el-table-column>
          </el-table>
        </div>

        <!-- return Part -->
        <div v-if="showing==='return'">
          <div align="center">
            <div style="padding: 2px">
              <el-input v-model="returnSearch" placeholder="Search" style="width:200px"></el-input>
              <el-button
                @click="checkReturnBySearch"
                :disabled="returnSearch === ''">search</el-button>
              <el-button 
                type="primary"
                @click="checkAllReturn">check all</el-button>
            </div>
            <div class="block" align="center" style="padding: 2px">
              <el-date-picker
                v-model="DatePicker"
                type="daterange"
                align="right"
                range-separator="to"
                start-placeholder="Start"
                end-placeholder="End"
                unlink-panels
                :picker-options="date_picker_options">
              </el-date-picker>
              <el-button 
                type="primary"
                @click="checkReturnByDate"
                :disabled="DatePicker === ''">check</el-button>
            </div>
          </div>
          <el-table
            :data="returnData"
            stripe
            style="width: 100%">
            <el-table-column type="expand">
              <template slot-scope="props">
                <el-form label-position="left" inline class="demo-table-expand">
                  <el-form-item label="bookId">
                    <span>{{ props.row.bookId }}</span>
                  </el-form-item>
                  <el-form-item label="price">
                    <span>{{ props.row.price }}</span>
                  </el-form-item>
                  <el-form-item label="amount">
                    <span>{{ props.row.amount }}</span>
                  </el-form-item>
                  <el-form-item label="date">
                    <span>{{ props.row.date }}</span>
                  </el-form-item>
                </el-form>
              </template>
            </el-table-column>
            <el-table-column
              prop="id"
              label="Id">
            </el-table-column>
            <el-table-column
              prop="bookId"
              label="BookId">
            </el-table-column>
            <el-table-column
              prop="amount"
              label="Amount">
            </el-table-column>
          </el-table>
        </div>

        <!-- supplier Part -->
        <div v-if="showing==='supplier'">
          <el-table
            :data="supplierData"
            stripe
            style="width: 100%">
            <el-table-column type="expand">
              <template slot-scope="props">
                <el-form label-position="left" inline class="demo-table-expand">
                  <el-form-item label="Id">
                    <span>{{ props.row.id }}</span>
                  </el-form-item>
                  <el-form-item label="Name">
                    <span>{{ props.row.name }}</span>
                  </el-form-item>
                  <el-form-item label="Contact">
                    <span>{{ props.row.contactName }}</span>
                  </el-form-item>
                  <el-form-item label="Phone">
                    <span>{{ props.row.phoneNumber }}</span>
                  </el-form-item>
                  <el-form-item label="Address">
                    <span>{{ props.row.address }}</span>
                  </el-form-item>
                </el-form>
              </template>
            </el-table-column>
            <el-table-column
              prop="id"
              label="Id">
            </el-table-column>
            <el-table-column
              prop="name"
              label="Name">
            </el-table-column>
            <el-table-column
              prop="phoneNumber"
              label="Phone">
            </el-table-column>
          </el-table>
        </div>

        <!-- supply Part -->
        <div v-if="showing==='supply'">
          <div style="margin-top: 15px;">
            <el-input placeholder="请输入内容" v-model="supplySearch" class="input-with-select">
              <el-select v-model="supplySearchSelect" slot="prepend" placeholder="domain" style="width:130px">
                <el-option label="book" value="1"></el-option>
                <el-option label="supplier" value="2"></el-option>
              </el-select>
              <el-button 
                slot="append" 
                icon="el-icon-search" 
                @click="checkSupplyBySearch"
                :disabled="supplySearch === ''"></el-button>
            </el-input>
          </div>
          <el-table
            :data="supplyData"
            stripe
            style="width: 100%">
            <el-table-column type="expand">
              <template slot-scope="props">
                <el-form label-position="left" inline class="demo-table-expand">
                  <el-form-item label="Title">
                    <span>{{ props.row.title }}</span>
                  </el-form-item>
                  <el-form-item label="Author">
                    <span>{{ props.row.author }}</span>
                  </el-form-item>
                  <el-form-item label="ISBN">
                    <span>{{ props.row.isbn }}</span>
                  </el-form-item>
                  <el-form-item label="Supplier">
                    <span>{{ props.row.name }}</span>
                  </el-form-item>
                  <el-form-item label="Inventory">
                    <span>{{ props.row.onHandInventory }}</span>
                  </el-form-item>
                  <el-form-item label="Sales">
                    <span>{{ props.row.totalSales }}</span>
                  </el-form-item>
                </el-form>
              </template>
            </el-table-column>
            <el-table-column
              prop="supplierId"
              label="Supplier">
            </el-table-column>
            <el-table-column
              prop="bookId"
              label="Book">
            </el-table-column>
            <el-table-column
              prop="price"
              label="Price">
            </el-table-column>
          </el-table>
        </div>

        <!-- adding icon -->
        <el-button 
          type="primary" 
          style="position:fixed;right:100px;bottom:100px"
          size="medium"
          icon="el-icon-plus"
          round
          plain
          v-if="showing !== '' && showing !== 'inventory'"
          @click="clickAdd"></el-button>

      </el-main>
    </el-container>

    

    <!-- login dialog -->
    <el-dialog
      title="Log in" 
      :visible.sync="loginDialogVisible">
      <el-form :model="loginForm">
        <el-form-item label="Username">
          <el-input v-model="loginForm.username" auto-complete="off" clearable></el-input>
        </el-form-item>
        <el-form-item label="Password">
          <el-input 
            v-model="loginForm.password" 
            auto-complete="off" 
            clearable></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="loginDialogVisible= false">Cancel</el-button>
        <el-button type="primary" @click="login">Log in</el-button>
      </div>
    </el-dialog>

    <!-- logout confirm dialog -->
    <el-dialog
      title="Log out" 
      :visible.sync="logoutDialogVisible">
      <div>Are you sure to log out?</div>
      <div slot="footer" class="dialog-footer">
        <el-button @click="logoutDialogVisible= false">Cancel</el-button>
        <el-button type="primary" @click="logout">Yes</el-button>
      </div>
    </el-dialog>

    <!-- purchase adding dialog -->
    <el-dialog
      title="Add Purchase Record"
      :visible.sync="DialogPurchaseAddVisible">
      <el-form :model="PurchaseForm">
        <el-form-item label="bookId">
          <el-input v-model="PurchaseForm.bookId" auto-complete="off" clearable></el-input>
        </el-form-item>
        <el-form-item label="SupplierId">
          <el-input v-model="PurchaseForm.supplierId" auto-complete="off" clearable></el-input>
        </el-form-item>
        <el-form-item label="Amount">
          <el-input v-model="PurchaseForm.amount" auto-complete="off" clearable></el-input>
        </el-form-item>
        <div class="block">
          <span class="demonstration" style="line-height:32px">Purchase date</span>
          <el-date-picker
            v-model="PurchaseForm.date"
            align="right"
            type="date"
            placeholder="Choose Date"
            :picker-options="date_picker_options_2"
            style="width:100%">
          </el-date-picker>
        </div>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="DialogPurchaseAddVisible= false">Cancel</el-button>
        <el-button 
          type="primary" 
          @click="Submit('purchase')">Submit</el-button>
      </div>
    </el-dialog>

    <!-- sales adding dialog -->
    <el-dialog
      title="Add Sales Record"
      :visible.sync="DialogSalesAddVisible">
      <el-form :model="SalesForm">
        <el-form-item label="bookId">
          <el-input v-model="SalesForm.bookId" auto-complete="off" clearable></el-input>
        </el-form-item>
        <el-form-item label="Amount">
          <el-input v-model="SalesForm.amount" auto-complete="off" clearable></el-input>
        </el-form-item>
        <el-form-item label="Price">
          <el-input v-model="SalesForm.price" auto-complete="off" clearable></el-input>
        </el-form-item>
        <div class="block">
          <span class="demonstration" style="line-height:32px">Purchase date</span>
          <el-date-picker
            v-model="SalesForm.date"
            align="right"
            type="date"
            placeholder="Choose Date"
            :picker-options="date_picker_options_2"
            style="width:100%">
          </el-date-picker>
        </div>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="DialogSalesAddVisible= false">Cancel</el-button>
        <el-button type="primary" @click="Submit('sales')">Submit</el-button>
      </div>
    </el-dialog>

    <!-- return adding dialog -->
    <el-dialog
      title="Add Return Record"
      :visible.sync="DialogReturnAddVisible">
      <el-form :model="ReturnForm">
        <el-form-item label="bookId">
          <el-input v-model="ReturnForm.bookId" auto-complete="off" clearable></el-input>
        </el-form-item>
        <el-form-item label="Amount">
          <el-input v-model="ReturnForm.amount" auto-complete="off" clearable></el-input>
        </el-form-item>
        <el-form-item label="Price">
          <el-input v-model="ReturnForm.price" auto-complete="off" clearable></el-input>
        </el-form-item>
        <div class="block">
          <span class="demonstration" style="line-height:32px">Purchase date</span>
          <el-date-picker
            v-model="ReturnForm.date"
            align="right"
            type="date"
            placeholder="Choose Date"
            :picker-options="date_picker_options_2"
            style="width:100%">
          </el-date-picker>
        </div>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="DialogReturnAddVisible = false">Cancel</el-button>
        <el-button type="primary" @click="Submit('return')">Submit</el-button>
      </div>
    </el-dialog>

    <!-- supplier adding dialog -->
    <el-dialog
      title="Add Supplier Info"
      :visible.sync="DialogSupplierAddVisible">
      <el-form :model="SupplierForm">
        <el-form-item label="Name*" >
          <el-input v-model="SupplierForm.name" auto-complete="off" clearable></el-input>
        </el-form-item>
        <el-form-item label="Contact Name*">
          <el-input v-model="SupplierForm.contactName" auto-complete="off" clearable></el-input>
        </el-form-item>
        <el-form-item label="Phone Number*">
          <el-input v-model="SupplierForm.phoneNumber" auto-complete="off" clearable></el-input>
        </el-form-item>
        <el-form-item label="Address">
          <el-input v-model="SupplierForm.address" auto-complete="off" clearable></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="DialogSupplierAddVisible = false">Cancel</el-button>
        <el-button type="primary" @click="Submit('supplier')">Submit</el-button>
      </div>
    </el-dialog>

    <!-- supply adding dialog -->
    <el-dialog
      title="Add Supply Record"
      :visible.sync="DialogSupplyAddVisible">
      <el-form :model="SupplyForm">
        <el-form-item label="Book Id*">
          <el-input v-model="SupplyForm.bookId" auto-complete="off" clearable></el-input>
        </el-form-item>
        <el-form-item label="Supplier Id*">
          <el-input v-model="SupplyForm.supplierId" auto-complete="off" clearable></el-input>
        </el-form-item>
        <el-form-item label="Price*">
          <el-input v-model="SupplyForm.price" auto-complete="off" clearable></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="DialogSupplyAddVisible = false">Cancel</el-button>
        <el-button type="primary" @click="Submit('supply')">Submit</el-button>
      </div>
    </el-dialog>

    <!-- purchase delete dialog -->
    <el-dialog
      title="Delete Confirm"
      :visible.sync="DialogPurchaseDeleteVisible">
      <div>Are you sure to delete this record?</div>
      <el-table
        :data="PurchaseDeleteDialogInfo"
        style="width: 100%">
        <el-table-column
          prop="id"
          label="Id">
        </el-table-column>
        <el-table-column
          prop="bookId"
          label="BookId">
        </el-table-column>
        <el-table-column
          prop="supplierId"
          label="SupplierId">
        </el-table-column>
        <el-table-column
          prop="price"
          label="Price">
        </el-table-column>
        <el-table-column
          prop="amount"
          label="Amount">
        </el-table-column>
        <el-table-column
          prop="date"
          label="Date">
        </el-table-column>
      </el-table>
      <div slot="footer" class="dialog-footer">
        <el-button @click="DialogPurchaseDeleteVisible = false">Cancel</el-button>
        <el-button type="danger" @click="deletePurchase()">Delete</el-button>
      </div>
    </el-dialog>

    <!-- purchase edit dialog -->
    <el-dialog
      title="Edit"
      :visible.sync="DialogPurchaseEditVisible">
      <el-form :model="PurchaseForm">
        <el-form-item label="bookId">
          <el-input v-model="PurchaseEditDialogInfo.bookId" auto-complete="off" clearable></el-input>
        </el-form-item>
        <el-form-item label="SupplierId">
          <el-input v-model="PurchaseEditDialogInfo.supplierId" auto-complete="off" clearable></el-input>
        </el-form-item>
        <el-form-item label="Price">
          <el-input v-model="PurchaseEditDialogInfo.price" auto-complete="off" clearable></el-input>
        </el-form-item>
        <el-form-item label="Amount">
          <el-input v-model="PurchaseEditDialogInfo.amount" auto-complete="off" clearable></el-input>
        </el-form-item>
        <div class="block">
          <span class="demonstration" style="line-height:32px">Purchase date</span>
          <el-date-picker
            v-model="PurchaseEditDialogInfo.date"
            align="right"
            type="date"
            placeholder="Choose Date"
            :picker-options="date_picker_options_2"
            style="width:100%">
          </el-date-picker>
        </div>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="DialogPurchaseEditVisible = false">Cancel</el-button>
        <el-button type="warning" @click="editPurchase()">Edit</el-button>
      </div>
    </el-dialog>


  </div>
</template>

<script type="text/javascript">

  const md5 = require('md5')
  const moment = require('moment')
  export default {
  	created() {
      console.log('hello vue')
  	},
    data() {
      return {
        visible: false,
        loginDialogVisible: false,
        logoutDialogVisible: false,
        showing: '',
        inventoryData: [],
        purchaseData: [],
        salesData: [],
        returnData: [],
        supplierData: [],
        supplyData: [],
        inventorySearch: '',
        purchaseSearch: '',
        salesSearch: '',
        returnSearch: '',
        supplySearch: '',
        supplySearchSelect: '',
        DatePicker: '',
        DialogSupplyAddVisible: false,
        DialogSupplierAddVisible: false,
        DialogReturnAddVisible: false,
        DialogSalesAddVisible: false,
        DialogPurchaseAddVisible: false,
        DialogPurchaseDeleteVisible: false,
        DialogPurchaseEditVisible: false,
        PurchaseEditDialogInfo: {},
        PurchaseDeleteDialogInfo: [],
        userInfo: {
          status: 'visitor',
          username: '',
          password: ''
        },
        loginForm: {
          username: '',
          password: ''
        },
        PurchaseForm: {
          bookId: '',
          supplierId: '',
          amount: '',
          date: ''
        },
        SalesForm: {
          bookId: '',
          price: '',
          amount: '',
          date: ''
        },
        ReturnForm: {
          bookId: '',
          price: '',
          amount: '',
          date: ''
        },
        SupplierForm: {
          name: '',
          contactName: '',
          phoneNumber: '',
          address: ''
        },
        SupplyForm: {
          bookId: '',
          supplierId: '',
          price: ''
        },
        date_picker_options: {
          shortcuts: [{
            text: 'Recent 1 week',
            onClick(picker) {
              const end = moment();
              const start = moment().subtract(7, 'days');
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: 'Recent 1 month',
            onClick(picker) {
              const end = moment()
              const start = moment().subtract(1, 'months')
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: 'Recent 3 months',
            onClick(picker) {
              const end = moment()
              const start = moment().subtract(3, 'months')
              picker.$emit('pick', [start, end]);
            }
          }]
        },
        date_picker_options_2: {
          disabledDate(time) {
            return time.getTime() > Date.now()
          },
          shortcuts:[{
            text: 'today',
            onClick(picker) {
              picker.$emit('pick', moment())
            }
          }, {
            text: 'yestoday',
            onClick(picker) {
              picker.$emit('pick', moment().subtract(1, 'days'))
            }
          }, {
            text: '3 days before',
            onClick(picker) {
              picker.$emit('pick', moment().subtract(3, 'days'))
            }
          }]
        }
      }
    },
    beforeMount() {
      console.log('beforeMount')
      this.$http.get('/router/checkSession')
        .then((res) => {
          console.log(res.body)
          if (res.body.status === "SUCCESS") {
            this.userInfo.status = 'admin'
            this.userInfo.username = res.body.content.username
            this.userInfo.password = res.body.content.password
          }
        })
    },
    methods: {
      click:function() {
        this.$http.get('/router/testURL')
          .then((res) => {
            this.visible=true;
            console.log('GOT REPLY')
            console.log(res.body)
          })
      },
      login:function() {
        this.loginForm.password = md5(this.loginForm.password)
        this.$http.post('/router/login', this.loginForm)
          .then((res) => {
            console.log(res)
            if (res.body.status === 'SUCCESS') {
              this.msg('success', 'login success')
              this.userInfo.status = 'admin'
              this.username = this.loginForm.username
              this.password = this.loginForm.password
              this.loginDialogVisible = false;
              this.loginForm = {
                username: '',
                password: ''
              }
            } else if (res.body.status === 'FAIL') {
              //console.log(res.body.description)
              if (res.body.description === 'WRONG_PASS') {
                this.msg('warning', 'Wrong password! Please check and try again')
              } else if (res.body.description === 'WRONG_USERNAME') {
                this.msg('warning', 'Wrong username! Please check and try again')
              }
            } else {
              this.msg('error', 'Unknown error, please try again later')
            }
          })
        this.getSuppliers()
      },
      logout:function() {
        console.log('call logout')
        this.$http.get('/router/logout')
          .then(()=>{
            this.msg('success', 'logout success')
            this.userInfo = {
              status: 'visitor',
              username: '',
              password: ''
            }
            this.logoutDialogVisible = false
            this.purchaseData = []
            this.salesData = []
            this.returnsData = []
            this.supplierData = []
            this.supplyData = []
          })
          .catch((err) => {
            this.msg('error', 'Server internal error, please try again later')
          })
      },

      checkAllInventory: function() {
        console.log('call checkAllInventory')
        this.$http.post('/router/checkInventory', {keyword: ''})
          .then((res) => {
            console.log(res.body)
            if (res.body.status === 'SUCCESS') {
              this.msg('success', 'get book inventory!')
              this.inventoryData = res.body.content
            } else if (res.body.status === 'FAIL') {
              this.msg('warning', res.body.description)
            } else {
              this.msg('error', res.body.description)
            }
          })
      },
      checkInventoryBySearch: function() {
        console.log('call checkInventoryBySearch')
        console.log(this.inventorySearch)
        let dp = {
          keyword: this.inventorySearch
        }
        this.$http.post('/router/checkInventory', dp) 
          .then((res) => {
            console.log(res.body)
            if (res.body.status === 'SUCCESS') {
              this.msg('success', 'get book inventory!')
              this.inventoryData = res.body.content
            } else if (res.body.status === 'FAIL') {
              this.msg('warning', res.body.description)
            } else {
              this.msg('error', res.body.description)
            }
          })
      },

      checkAllPurchase: function() {
        console.log('call checkAllPurchase')
        this.$http.post('/router/checkPurchase', {keyword: ''})
          .then((res) => {
            console.log(res.body)
            if (res.body.status === 'SUCCESS') {
              this.purchaseData = res.body.content
              this.msg('success', 'get purchase list!')
            } else if (res.body.status === 'FAIL') {
              this.msg('warning', res.body.description)
              if (res.body.description === 'NOT_LOGIN') {
                this.loginDialogVisible = true;
              }
            } else {
              this.msg('error', res.body.description);
            }
          })
      },
      checkPurchaseBySearch: function() {
        console.log('call checkPurchaseBySearch')
        let dp = {
          keyword: this.purchaseSearch
        }
        this.$http.post('/router/checkPurchase', dp)
          .then((res) => {
            console.log(res.body)
            if (res.body.status === 'SUCCESS') {
              this.purchaseData = res.body.content
              this.msg('success', 'get purchase list!')
            } else if (res.body.status === 'FAIL') {
              this.msg('waring', res.body.description)
              if (res.body.description === 'NOT_LOGIN') {
                this.loginDialogVisible = true;
              }
            } else {
              this.msg('error', res.body.description);
            }
          })
      },
      checkPurchaseByDate:function() {
        console.log('call checkPurchaseByDate')
        console.log(this.purchaseDatePicker)
        let dp = {
          start: this.DatePicker[0],
          end: this.DatePicker[1]
        }
        this.$http.post('/router/checkPurchaseByDate', dp)
          .then((res) => {
            console.log(res.body)
            if (res.body.status === 'SUCCESS') {
              this.purchaseData = res.body.content
              this.msg('success', 'get purchase list!')
            } else if (res.body.status === 'FAIL') {
              this.msg('warning', res.body.description)
              if (res.body.description === 'NOT_LOGIN') {
                this.loginDialogVisible = true;
              }
            } else {
              this.msg('error', res.body.description);
            }
          })
      },
      checkAllSales:function() {
        console.log('call checkAllSales')
        this.$http.post('/router/checkSales', {keyword:''})
          .then((res) => {
            console.log(res.body)
            if (res.body.status === 'SUCCESS') {
              this.salesData = res.body.content
              this.msg('success', 'get sales list!')
            } else if (res.body.status === 'FAIL') {
              this.msg('warning', res.body.description)
              if (res.body.description === 'NOT_LOGIN') {
                this.loginDialogVisible = true;
              }
            } else {
              this.msg('error', res.body.description);
            }
          })
      },
      checkSalesBySearch:function() {
        console.log('call checkSalesBySearch')
        let dp = {
          keyword: this.salesSearch
        }
        this.$http.post('/router/checkSales', dp)
          .then((res) => {
            console.log(res.body)
            if (res.body.status === 'SUCCESS') {
              this.salesData = res.body.content
              this.msg('success', 'get sales list!')
            } else if (res.body.status === 'FAIL') {
              this.msg('warning', res.body.description)
              if (res.body.description === 'NOT_LOGIN') {
                this.loginDialogVisible = true;
              }
            } else {
              this.msg('error', res.body.description);
            }
          })
      },
      checkSalesByDate:function () {
        console.log('call checkSalesByDate')
        let dp = {
          start: this.DatePicker[0],
          end: this.DatePicker[1]
        }
        this.$http.post('/router/checkSalesByDate', dp)
          .then((res) => {
            console.log(res)
            if (res.body.status === 'SUCCESS') {
              this.salesData = res.body.content
              this.msg('success', 'get sales list!')
            } else if (res.body.status === 'FAIL') {
              this.msg('warning', res.body.description)
              if (res.body.description === 'NOT_LOGIN') {
                this.loginDialogVisible = true;
              }
            } else {
              this.msg('error', res.body.description);
            }
          })
      },
      checkAllReturn:function () {
        console.log('call checkAllReturn')
        this.$http.post('/router/checkReturn', {keyword:''})
          .then((res) => {
            console.log(res.body)
            if (res.body.status === 'SUCCESS') {
              this.returnData = res.body.content
              this.msg('success', 'get return list!')
            } else if (res.body.status === 'FAIL') {
              this.msg('warning', res.body.description)
              if (res.body.description === 'NOT_LOGIN') {
                this.loginDialogVisible = true;
              }
            } else {
              this.msg('error', res.body.description);
            }
          })
      },
      checkReturnBySearch:function () {
        console.log('call checkReturnBySearch')
        let dp = {
          keyword: this.returnSearch
        }
        this.$http.post('/router/checkReturn', dp)
          .then((res) => {
            console.log(res.body)
            if (res.body.status === 'SUCCESS') {
              this.returnData = res.body.content
              this.msg('success', 'get return list!')
            } else if (res.body.status === 'FAIL') {
              this.msg('warning', res.body.description)
              if (res.body.description === 'NOT_LOGIN') {
                this.loginDialogVisible = true;
              }
            } else {
              this.msg('error', res.body.description);
            }
          })
      },
      checkReturnByDate:function () {
        console.log('call checkReturnByDate')
        let dp = {
          start: this.DatePicker[0],
          end: this.DatePicker[1]
        }
        this.$http.post('/router/checkReturnByDate', dp)
          .then((res) => {
            console.log(res)
            if (res.body.status === 'SUCCESS') {
              this.returnsData = res.body.content
              this.msg('success', 'get return list!')
            } else if (res.body.status === 'FAIL') {
              this.msg('warning', res.body.description)
              if (res.body.description === 'NOT_LOGIN') {
                this.loginDialogVisible = true;
              }
            } else {
              this.msg('error', res.body.description);
            }
          })
      },
      getSuppliers:function () {
        this.showing = 'supplier';
        console.log('call getSuppliers')
        this.$http.get('/router/getSuppliers')
          .then((res) => {
            console.log(res)
            if (res.body.status === 'SUCCESS') {
              this.supplierData = res.body.content
              this.msg('success', 'get supplier list!')
            } else if (res.body.status === 'FAIL') {
              this.msg('warning', res.body.description)
              if (res.body.description === 'NOT_LOGIN') {
                this.loginDialogVisible = true;
              }
            } else {
              this.msg('error', res.body.description);
            }
          })
      },
      checkSupplyBySearch:function() {
        console.log(this.supplySearchSelect)
        console.log('call checkSupplyBySearch')
        let dp = {
          domain: '',
          keyword: this.supplySearch
        }
        if (!!this.supplySearchSelect) {
          if (this.supplySearchSelect === 1) {
            dp.domain = 'book'
          } else {
            dp.domain = 'supplier'
          }
        }
        this.$http.post('/router/checkSupply', dp)
          .then((res) => {
            console.log(res.body)
            if (res.body.status === 'SUCCESS') {
              this.supplyData = res.body.content
              this.msg('success', 'get supply list!')
            } else if (res.body.status === 'FAIL') {
              this.msg('warning', res.body.description)
              if (res.body.description === 'NOT_LOGIN') {
                this.loginDialogVisible = true;
              }
            } else {
              this.msg('error', res.body.description);
            }
          })
      },
      clickAdd: function() {
        //console.log(this.showing)
        if (this.showing === 'purchase') {
          this.DialogPurchaseAddVisible = true
        } else if (this.showing === 'sales') {
          this.DialogSalesAddVisible = true
        } else if (this.showing === 'return') {
          this.DialogReturnAddVisible = true
        } else if (this.showing === 'supplier') {
          this.DialogSupplierAddVisible = true
        } else if (this.showing === 'supply') {
          this.DialogSupplyAddVisible = true
        } else {
          this.msg('error', 'Something Error, please refresh & try again later!')
        }
      },
      Submit: function(e) {
        console.log(e)
        //console.log(this.checkValid(e))
        if (this.checkValid(e)) {
          let dp = {
            type: e,
            content: {}
          }
          if (e === 'purchase') {
            dp.content = this.PurchaseForm
          } else if (e === 'sales') {
            dp.content = this.SalesForm
          } else if (e === 'return') {
            dp.content = this.ReturnForm
          } else if (e === 'supplier') {
            dp.content = this.SupplierForm
          } else if (e === 'supply') {
            dp.content = this.SupplyForm
          }

          this.$http.post('/router/addRecord', dp)
            .then((res) => {
              console.log(res.body)
              if (res.body.status === 'SUCCESS') {
                this.msg('success', 'Add record success!')
                if (e === 'purchase') {
                  this.DialogPurchaseAddVisible = false;
                  this.checkAllPurchase();
                } else if (e === 'sales') {
                  this.DialogSalesAddVisible = false;
                  this.checkAllSales();
                } else if (e === 'return') {
                  this.DialogReturnAddVisible = false;
                  this.checkAllReturn();
                } else if (e === 'supplier') {
                  this.DialogSupplierAddVisible = false;
                  this.getSuppliers();
                } else if (e === 'supply') {
                  this.DialogSupplyAddVisible = false;
                  this.checkSupplyBySearch();
                }
              } else if (res.body.status === 'FAIL') {
                this.msg('warning', res.body.description)
              } else {
                this.msg('error', res.body.description)
              }
            })

        } else {
          this.msg('warning', 'Please check your input!')
        }
      },

      clickEdit: function (r) {
        console.log(r)
        this.PurchaseEditDialogInfo = r
        this.DialogPurchaseEditVisible = true
      },
      clickDelete: function (r, e) {
        console.log(r)
        this.PurchaseDeleteDialogInfo[0] = r
        this.DialogPurchaseDeleteVisible = true
      },

      deletePurchase: function() {
        console.log('call deletePurchase')
        let dp = {
          id: this.PurchaseDeleteDialogInfo[0].id
        }
        console.log(dp)
        this.$http.post('/router/deletePurchase', dp)
          .then(res => {
            console.log(res)
            if (res.body.status === 'SUCCESS') {
              this.msg('success', 'delete success!')
              this.DialogPurchaseDeleteVisible = false;
              this.checkAllPurchase();
            } else if (res.body.status === 'FAIL') {
              this.msg('warning', res.body.description)
              if (res.body.description === 'NOT_LOGIN') {
                this.loginDialogVisible = true;
              }
            } else {
              this.msg('error', res.body.description);
            }
          })
      },

      editPurchase: function() {
        console.log('call editPurchase')
        let dp = this.PurchaseEditDialogInfo
        this.$http.post('/router/editPurchase', dp)
          .then(res => {
            console.log(res)
            if (res.body.status === 'SUCCESS') {
              this.msg('success', 'Edit success!')
              this.DialogPurchaseEditVisible = false;
              this.checkAllPurchase();
            } else if (res.body.status === 'FAIL') {
              this.msg('warning', res.body.description)
              if (res.body.description === 'NOT_LOGIN') {
                this.loginDialogVisible = true;
              }
            } else {
              this.msg('error', res.body.description);
            }
          })
      },

      /*
       * @type='success' OR 'warning' OR 'error'
       */
      msg:function(type, content) {
        if (type === 'error') {
          this.$message.error(content)
        } else {
          const h = this.$createElement;
          this.$message({
            message: h('p', null, [
              h('span', null, content)
            ]),
            type: type,
            duration: 800
          });
        }
      },
      checkValid:function (e) {
        if (e === 'purchase') {
          let d = this.PurchaseForm
          return (d.bookId !== '' && d.supplierId !== '' && d.amount !== '' && d.date !== '')
        } else if (e === 'sales') {
          let d = this.SalesForm
          return (d.bookId !== '' && d.price !== '' && d.amount !== '' && d.date !== '')
        } else if (e === 'return') {
          let d = this.ReturnForm
          return (d.bookId !== '' && d.price !== '' && d.amount !== '' && d.date !== '')
        } else if (e === 'supplier') {
          let d = this.SupplierForm
          return (d.name !== '' && d.contactName !== '' && d.phoneNumber !== '')
        } else if (e === 'supply') {
          let d = this.SupplyForm
          console.log(d.supplierId !== '')
          return (d.bookId !== '' && d.supplierId !== '' && d.price !== '')
        }
      }
    }
  }

</script>
